extends ../layout/index.pug

block vars
    include ../helpers/abstraction/variables

block header
  include ../layout/sections/header

block main
  main.main-section

block footer
  include ../layout/sections/footer
